@use 'sass:map';
@use 'sass:math';

$font-sans: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, helvetica, arial, sans-serif,
'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-serif: 'PT Serif', georgia, 'Times New Roman', times, serif;
$font-monospace: consolas, 'Lucida Console', 'Andale Mono', 'Bitstream Vera Sans Mono', 'Courier New', courier;
$font-special-chars: 'Helvetica Neue', helvetica, arial, verdana, sans-serif;

$font-size-browser: 16;
$font-size-body: 16;
$line-height-std: 24;

$font-size: (
        10: 8,
        20: 12,
        30: 14,
        40: 16,
        50: 18,
        60: 20,
        70: 22,
        80: 24,
        90: 28,
        100: 32,
        110: 36,
        120: 40,
        130: 48,
);

$font-size-mapping: (
        body: 40,
        h1: 130,
        h2: 110,
        h3: 70,
        h4: 70,
        h5: 50,
        h6: 30,
        text-big: 50,
        text-small: 30,
        footer: 30,
);

@each $name, $value in $font-size {
  $font-size: map.set($font-size, '#{$name}-px', $value * 1px);
  $font-size: map.set($font-size, '#{$name}-em', math.div($value, $font-size-body) * 1em);
  $font-size: map.set($font-size, '#{$name}-rem', math.div($value, $font-size-body) * 1rem);
  $font-size: map.set($font-size, '#{$name}-percent', math.div($value, $font-size-body) * 100%);
}

@each $name, $value in $font-size-mapping {
  $temp-value: map.get($font-size, $value);
  $font-size: map.set($font-size, '#{$name}', $temp-value);
  $font-size: map.set($font-size, '#{$name}-px', $temp-value * 1px);
  $font-size: map.set($font-size, '#{$name}-em', math.div($temp-value, $font-size-body) * 1rem);
  $font-size: map.set($font-size, '#{$name}-rem', math.div($temp-value, $font-size-body) * 1rem);
  $font-size: map.set($font-size, '#{$name}-percent', math.div($temp-value, $font-size-body) * 100%);
}

$line-height: (
        10: 12,
        20: 18,
        30: 22,
        40: 24,
        50: 28,
        60: 30,
        70: 38,
        80: 42,
        90: 52,
);

$line-height-mapping: (
        body: 40,
        h1: 90,
        h2: 70,
        h3: 60,
        h4: 60,
        h5: 50,
        h6: 40,
        text-big: 40,
        text-small: 40,
        footer: 40,
);

@each $name, $value in $line-height {
  $line-height: map.set($line-height, '#{$name}-px', $value * 1px);
  $line-height: map.set($line-height, '#{$name}-em', math.div($value, $font-size-body) * 1em);
  $line-height: map.set($line-height, '#{$name}-rem', math.div($value, $font-size-body) * 1rem);
  $line-height: map.set($line-height, '#{$name}-scale', math.div($value, $font-size-body));
}

@each $name, $value in $line-height-mapping {
  $temp-value: map.get($line-height, $value);
  $line-height: map.set($line-height, '#{$name}', $temp-value);
  $line-height: map.set($line-height, '#{$name}-px', $temp-value * 1px);
  $line-height: map.set($line-height, '#{$name}-em', math.div($temp-value, $font-size-body) * 1rem);
  $line-height: map.set($line-height, '#{$name}-rem', math.div($temp-value, $font-size-body) * 1rem);
  $line-height: map.set($line-height, '#{$name}-scale', math.div($temp-value, $font-size-body));
}