@use 'sass:map';
@use 'sass:math';

$font-sans: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, helvetica, arial, sans-serif,
'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-serif: 'PT Serif', georgia, 'Times New Roman', times, serif;
$font-monospace: consolas, 'Lucida Console', 'Andale Mono', 'Bitstream Vera Sans Mono', 'Courier New', courier;
$font-special-chars: 'Helvetica Neue', helvetica, arial, verdana, sans-serif;

$browser-font-size: 16;
$body-font-size: 16;
$std-line-height: 24;

$font-size: (
        h1: 48,
        h2: 36,
        h3: 21,
        h4: 21,
        h5: 18,
        h6: 15,
        text-big: 18,
        text-small: 14,
        footer: 14,
);

$line-height: (
        h1: 52,
        h2: 39,
        h3: 30,
        h4: 30,
        h5: 28,
        h6: 24,
        text-big: 24,
        text-small: 24,
        footer: 24,
);

@each $name, $value in $font-size {
  $font-size: map.set($font-size, '#{$name}-px', $value * 1px);
  $font-size: map.set($font-size, '#{$name}-rem', math.div($value, $body-font-size) * 1rem);
  $font-size: map.set($font-size, '#{$name}-em', math.div($value, $body-font-size) * 1em);
  $font-size: map.set($font-size, '#{$name}-percent', math.div($value, $body-font-size) * 100%);
}

@each $name, $value in $line-height {
  $line-height: map.set($line-height, '#{$name}-px', $value * 1px);
  $line-height: map.set($line-height, '#{$name}-rem', math.div($value, $body-font-size) * 1rem);
  $line-height: map.set($line-height, '#{$name}-em', math.div($value, $body-font-size) * 1em);
  $line-height: map.set($line-height, '#{$name}-scale', math.div($value, $body-font-size));
}